$blanc : #fff;
$blanc-transparent : #FFFFFFDF;
$vert-clair : #ADD981;

#homepage{
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100vh;
  .bg{
    position : absolute;
    height:100%;
    width : 100%;    
  }
  
  
  #menu{ 
    position: relative;
    // background: #000;
    height : 70px;
    width: calc(100% - 10px);
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    box-shadow: 10px 0 10px rgba(134, 111, 111, 0.164);
    .logo{
      height : 70px;
      padding-left: 10px;
    }
    nav{
      display : flex;
      &.active{
        .lien{
          height : 50px;
          position : relative;
          padding : 20px;
          
        }
      }
      .lien {
        
        height : 50px;
        display: flex;

        flex-direction: column;
        overflow: hidden;
        // background-color: beige; 
        justify-content: center;
        a{
          padding : 20px;

        }
      }
      .burger{
        margin: 15px;
        height : 38px;
        width : 40px;
        // background-color: aqua;
        // position: relative;
        span{
          height : 5px;
          width : 40px;
          // position : absolute;
          background-color: $vert-clair;
          border-radius: 20px;
          margin-top: 50%;
          transform: translateY(-50%);
          display: none;
          &::before{
            content : "";
            margin-top: -12px;
            height : 6px;
            width : 40px;
            position : absolute;
            background-color: $vert-clair;
            border-radius: 20px;
          }
          &::after{
            content : "";
            margin-top: 12px;
            height : 6px;
            width : 40px;
            position : absolute;
            background-color: $vert-clair;
            border-radius: 20px;
          }
        }
      }
    }
  }
  #titre{
    padding-left: 10%;
    width : 50% ;
    .title{
      position: relative;
      
      color : $blanc ;
    }
  }
  #scroll{
    
    padding-left: 70px;
 
    p{
      padding-bottom: 50px;
      position :relative;
      color : $blanc ;
      font-weight: 300;
      #v{
        padding-left: 10px;
        strong{
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width : 850px){
  #homepage{
    #titre{
      width : 80%;
    }
    #menu{
      justify-content:space-between;
      nav{
        flex-direction: column;
        align-items: flex-end;
        .burger{
          span{
            display: block;
          }
        }
        .lien{
          z-index: 2;
          background-color: $vert-clair;
          border-radius: 0;
          width : 150px;
          text-align: center;

          height: 0;
          padding : 0;
          
        }
      }
    }
    
  }
}