$vert-clair : #ADD981;
$blanc-transparent : #ffffffdf;

#plantes{
  margin-top:40px;
  padding-top: 10px;
  #articles{
    display : flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  #part1{
    display: flex;
    flex-wrap: wrap;
    #part1-1{
      .card{
        background-image: url("../images/nos_plantes/1.jpg");
        width : 400px;
        height : 420px;
        margin-right: 20px;
      }
    }
    #part1-2{
      display : flex;
      flex-direction: column;
      .card{
        &:nth-child(1){
          background-image: url("../images/nos_plantes/2.jpg");
          width : 400px;
          height : 200px;
        }
        &:nth-child(2){
          background-image: url("../images/nos_plantes/3.jpg");
          margin-top: 20px;
          width : 400px;
          height : 200px;
        }
      }
    }
  }
  #part2{
    margin-top: 20px;
    display : flex;
    flex-wrap: wrap;
    .card{
      
      &:nth-child(1){
        background-image: url("../images/nos_plantes/4.jpg");
        width : 230px;
        height : 400px;
        margin-right: 20px;
      }
      &:nth-child(2){
        background-image: url("../images/nos_plantes/5.jpg");
        width : 320px;
        height : 400px;
      }
      &:nth-child(3){
        background-image: url("../images/nos_plantes/6.jpg");
        margin-left: 20px;
        width : 230px;
        height : 400px;
      }
    }
  }
  
  .card{
    background-size: cover;
    border-radius: 20px;
    display : flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    transition: box-shadow 0.4s;

    &:hover{
      box-shadow: 0 0 10px #868686a6;
    }
    
    .infos{
      border-bottom-right-radius:20px ;
      border-bottom-left-radius:20px ;
      height: 45px;
      width : 100%;
      // padding: 5px;
      background-color: $blanc-transparent;
      display : flex;
      justify-content: space-between;
      position: relative;
      .name-prix{
        padding-left: 10px;
        position: relative;
        p{
          &.prix{
            font-size: 14px;
            color : $vert-clair;
          }
        }
      }
      .bouton{
        margin:10px;
        background-color: $vert-clair;
        border-radius: 20px;
        font-family: Montserrat;
        position : relative;
        box-shadow: 2px 4px rgba(185, 185, 185, 0.63);
        align-items: center;
        transition : box-shadow 0.4s,
                     background-color 0.4s;
        &:hover{
          box-shadow: 0 0 10px #868686a6;
          background-color: #a4e068;
        }
        p{
          color : white;
          padding: 3px 10px;

        }
      }
    }
  }
}